{% extends "main/base.html" %}

{% block title %}Авто{% endblock %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">

                <h1>Авто</h1>

                <p>Здесь все автомобили</p>

            </div>
        </div>
    </div>

{% endblock %}



